@using Microsoft.AspNet.Identity
@model WEBAPP.Areas.Users.Models.LoginViewModel

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right ">
        <li>    
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <center>
    @RenderBody() @*//this content on .cshtml*@
    <ul class="nav navbar-nav navbar-right">
        @using (Html.BeginForm("SignIn", "Account", null, FormMethod.Get,
                              new { enctype = "multipart/form-data" }))
        {
        
         @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) 
        
        
         @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            <br>
            <br>
            <br>
            <br>
            <br>
            <label>Login</label>
            <br>
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            <br>
            <br>
            <label>Password</label>
            <br>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

            <br>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        }
    </ul>
        </center>
}


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    input[type=submit] {
        /*display: inline-block;
        border: 2px solid #000000;
        padding: 14px 20px;
        color:black;
        text-decoration: none;
        transition: 0.3s;*/

        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
}

</style>